body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1847px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:670px;
}
#u0 {
  position:absolute;
  left:207px;
  top:657px;
  width:368px;
  height:670px;
}
#u1 {
  position:absolute;
  left:2px;
  top:327px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:138px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2 {
  position:absolute;
  left:67px;
  top:21px;
  width:814px;
  height:138px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:1377px;
}
#u4 {
  position:absolute;
  left:101px;
  top:1784px;
  width:1320px;
  height:1377px;
}
#u5 {
  position:absolute;
  left:2px;
  top:680px;
  width:1316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1269px;
  height:191px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:20px;
}
#u6 {
  position:absolute;
  left:139px;
  top:1519px;
  width:1269px;
  height:191px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1269px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9 {
  position:absolute;
  left:253px;
  top:944px;
  width:270px;
  height:156px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:266px;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11 {
  position:absolute;
  left:317px;
  top:1060px;
  width:146px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:142px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u13 {
  position:absolute;
  left:503px;
  top:926px;
  width:35px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0000FF;
}
#u15 {
  position:absolute;
  left:132px;
  top:1431px;
  width:113px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0000FF;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0000FF;
}
#u17 {
  position:absolute;
  left:93px;
  top:387px;
  width:141px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0000FF;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19 {
  position:absolute;
  left:173px;
  top:489px;
  width:492px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  white-space:nowrap;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21 {
  position:absolute;
  left:866px;
  top:489px;
  width:732px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  white-space:nowrap;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:670px;
}
#u23 {
  position:absolute;
  left:888px;
  top:657px;
  width:368px;
  height:670px;
}
#u24 {
  position:absolute;
  left:2px;
  top:327px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:670px;
}
#u25 {
  position:absolute;
  left:1479px;
  top:657px;
  width:368px;
  height:670px;
}
#u26 {
  position:absolute;
  left:2px;
  top:327px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28 {
  position:absolute;
  left:1527px;
  top:932px;
  width:270px;
  height:156px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:266px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30 {
  position:absolute;
  left:1591px;
  top:1048px;
  width:146px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:142px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u32 {
  position:absolute;
  left:1777px;
  top:914px;
  width:35px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u34 {
  position:absolute;
  left:888px;
  top:683px;
  width:50px;
  height:50px;
}
#u35 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:633px;
  height:22px;
}
#u36p000 {
  position:absolute;
  left:-2px;
  top:-1px;
  width:626px;
  height:4px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u36p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:628px;
  height:6px;
}
#u36p001 {
  position:absolute;
  left:566px;
  top:144px;
  width:22px;
  height:22px;
}
#u36p001_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:24px;
  height:22px;
}
#u36.compound {
  width:0px;
  height:0px;
}
#u36 {
  position:absolute;
  left:897px;
  top:872px;
  width:622px;
  height:2px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-7px;
  width:618px;
  visibility:hidden;
  word-wrap:break-word;
}
